/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --font: 'Karla', 'Karla', sans-serif;
    --color-main: #ffff;
    --color-text: #000;
    --color-trans: rgba(255, 255, 255, 0.8);
}

body {
    background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


div.content { 
    margin: auto;
    max-width:500px;
    padding: 10px;
 }



.grid-container {
    display: grid;
}
.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid-element {
  padding: 5px;
}


hr {
  margin: 80px;
}






#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName {
    color: var(--color-main);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#location {
    color: var(--color-main);
    font-size: 9px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: -10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}



/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 0px;
    text-align: center;
    
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.link1 {
    display: block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin: auto;
    margin-right: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    max-width:250px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.link2 {
    display: block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin: auto;
    margin-left: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    max-width:250px;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.link1:hover {
    background-color: rgba(0, 0, 0, 0.1 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}

.link2:hover {
    background-color: rgba(0, 0, 0, 0.1 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}


#title {
    color: var(--color-main);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}


#titlemain {
    color: var(--color-main);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.1 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}


.linklist {
    display: block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: left;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.linkss {
    font-size: 16px;
    font-weight: bold;
}

.linklist:hover {
    background-color: rgba(0, 0, 0, 0.1 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}





.products {
    width: auto;
    text-align: center;
    margin: 10px auto;
  }

.product {
    display: inline-block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.product:hover {
    background-color: rgba(255, 255, 255, 0.0 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}






#articles {
    width: auto;
    text-align: center;
    margin: 10px auto;
}

.article {
    display: inline-block;
    background-color: var(--color-main);
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 7px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.article:hover {
    background-color: rgba(255, 255, 255, 0.0 );
    color: var(--color-main);
    border: solid var(--color-main) 2px;
}





.footer {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footer a {
    text-decoration:none;
}

.circulot {
    background: #00acee;
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.circulot:hover {
    background: var(--color-main);
    color: var(--color-text);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

.circulofb {
    background: #3b5998;
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.circulofb:hover {
    background: var(--color-main);
    color: var(--color-text);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

.circuloyt {
    background: #e62117;
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.circuloyt:hover {
    background: var(--color-main);
    color: var(--color-text);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}

.circuloig {
    background: #dd2a7b;
    border-radius: 52px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

.circuloig:hover {
    background: var(--color-main);
    color: var(--color-text);
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.77);
}


#footertext {
    color: var(--color-main);
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}


#affiliate {
    font-family: var(--font);
    font-size: 12px;
    text-align: center;
    color: #fff;

}